[submodule "crazyflie_app/crazyflie-firmware"]
	path = crazyflie_app/crazyflie-firmware
	url = git@github.com:bitcraze/crazyflie-firmware.git
[submodule "crazyflie_app/crazyflie-firmware-modified"]
	path = crazyflie_app/crazyflie-firmware-modified
	url = git@github.com:LorenzoLamberti94/crazyflie-firmware-modified.git
[submodule "viewer-pulp-detector"]
	path = viewer-pulp-detector
	url = git@github.com:LorenzoLamberti94/viewer-pulp-detector.git
[submodule "training/External_utilities"]
	path = training/External_utilities
	url = git@github.com:Bomps4/External_utilities.git
