[submodule "crazyflie_app/crazyflie-firmware"]
	path = crazyflie_app/crazyflie-firmware
	url = git@github.com:bitcraze/crazyflie-firmware.git
[submodule "crazyflie_app/crazyflie-firmware-modified"]
	path = crazyflie_app/crazyflie-firmware-modified
	url = git@github.com:LorenzoLamberti94/crazyflie-firmware-modified.git
[submodule "viewer-pulp-detector"]
	path = viewer-pulp-detector
	url = git@github.com:LorenzoLamberti94/viewer-pulp-detector.git
[submodule "training/external/tensorflow-api"]
	path = training/external/tensorflow-api
	url = https://github.com/Bomps4/tensorflow-api-03.2020
[submodule "training/external/cocoapi"]
	path = training/external/cocoapi
	url = git@github.com:cocodataset/cocoapi.git
